{% extends "index.html" %}
{% block titulo %}
	SYS EYE ID - Contato
{% endblock %}
<body>
{% block body %}
	<main>
		<section id="contact">
			<div class="container">
				<h2>Entre em Contato</h2>
				<form method="POST">
					{{ form.csrf_token }}

					{{ form.username.label() }}
					{{ form.username() }}

					{{ form.email.label() }}
					{{ form.email() }}

					{{ form.mensagem.label() }}
					{{ form.mensagem() }}

					{{ form.botao_confirmacao() }}
				</form>
			</div>
		</section>
	</main>
{% endblock %}
</body>