{% extends "index.html" %}
{% block titulo %}
	SYS EYE ID - Serviços
{% endblock %}
<body>
{% block body %}
  <main>
    <section id="services">
      <div class="container">
        <h2>Nossos Serviços</h2>
        <ul>
          <li>
            <h3>Diagnóstico de Catarata</h3>
            <p>O diagnóstico de catarata é realizado através de exame clínico do olho pelo oftalmologista, que pode solicitar exames complementares como mapeamento de retina, biometria e exames de imagem. Com o SYS EYE ID, é possível obter um diagnóstico preciso e rápido utilizando inteligência artificial.</p>
          </li>
          <li>
            <h3>Diagnóstico de Glaucoma</h3>
            <p>O diagnóstico de glaucoma é realizado através de exame clínico do olho pelo oftalmologista, que pode solicitar exames complementares como tonometria, gonioscopia e exames de imagem. Com o SYS EYE ID, é possível obter um diagnóstico preciso e rápido utilizando inteligência artificial.</p>
          </li>
          <li>
            <h3>Diagnóstico de Degeneração Macular</h3>
            <p>O diagnóstico de degeneração macular é realizado através de exame clínico do olho pelo oftalmologista, que pode solicitar exames complementares como mapeamento de retina, angiografia e exames de imagem. Com o SYS EYE ID, é possível obter um diagnóstico preciso e rápido utilizando inteligência artificial.</p>
          </li>
          <li>
            <h3>Diagnóstico de Retinopatia Diabética</h3>
            <p>O diagnóstico de retinopatia diabética é realizado através de exame clínico do olho pelo oftalmologista, que pode solicitar exames complementares como mapeamento de retina, angiofluoresceinografia e exames de imagem. Com o SYS EYE ID, é possível obter um diagnóstico preciso e rápido utilizando inteligência artificial.</p>
          </li>
        </ul>
      </div>
    </section>
  </main>
{% endblock %}
</body>

